# URL de base pour les appels API (facultatif - utile si vous changez de backend)
# VITE_API_BASE_URL=https://malaika-tv.forka.org/api

# URL de base pour les images/médias (facultatif)
# VITE_MEDIA_BASE_URL=https://malaika-tv.forka.org
